In [1]:
pip install "pymongo[srv]"==3.11

Collecting pymongo[srv]==3.11
  Downloading pymongo-3.11.0.tar.gz (771 kB)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0 in c:\users\imran\anaconda3\lib\site-packages (from pymongo[srv]==3.11) (1.16.0)
Building wheels for collected packages: pymongo
  Building wheel for pymongo (setup.py): started
  Building wheel for pymongo (setup.py): finished with status 'done'
  Created wheel for pymongo: filename=pymongo-3.11.0-cp39-cp39-win_amd64.whl size=344214 sha256=7ba74e04b9451dd25fcbc31f9935f6577acf38dfee26c5c2bd5ad8905428ff50
  Stored in directory: c:\users\imran\appdata\local\pip\cache\wheels\11\67\dd\16bfa1d788a80295fdcf0d30342d3a1fc46b148ea45dde4fef
Successfully built pymongo
Installing collected packages: pymongo
  Attempting uninstall: pymongo
    Found existing installation: pymongo 3.6.0
    Uninstalling pymongo-3.6.0:
      Successfully uninstalled pymongo-3.6.0
Successfully installed pymongo-3.11.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
mongodb+srv://pwskills:pwskills@cluster0.xqiubls.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.xqiubls.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

In [3]:
client

MongoClient(host=['ac-kgxlcie-shard-00-01.xqiubls.mongodb.net:27017', 'ac-kgxlcie-shard-00-02.xqiubls.mongodb.net:27017', 'ac-kgxlcie-shard-00-00.xqiubls.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-3pj855-shard-0', ssl=True)

In [4]:
db = client["pwskills"]

In [5]:
coll_create = db["my_record"]

In [6]:
data = {"name":"imran",
        "class":"data science masters",
        "timing": "flexi"
}

In [7]:
coll_create.insert_one(data)

In [8]:
data2 = {"list_course": ["data science masters","web dev","java with DSA"],
        "mentor":['vishwa','ravi','arun']}

In [9]:
coll_create.insert_one(data2)

In [10]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [11]:
coll_create.insert_many(data3)

In [22]:
list_of_records = [
    {'companyName': 'pw skills',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'pw skills',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'pw skills',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [23]:
coll_create.insert_many(list_of_records)

In [24]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6613c10bb7e385b118fb3906'), 'name': 'imran', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('6613c280b7e385b118fb3907'), 'list_course': ['data science masters', 'web dev', 'java with DSA'], 'mentor': ['vishwa', 'ravi', 'arun']}
{'_id': ObjectId('6613c2f5b7e385b118fb3908'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6613c2f5b7e385b118fb3909'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6613c2f5b7e385b118fb390a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6613c2f5b7e385b118fb390b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6613c2f5b7e385b118fb390c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6613c2f5b7e385b118fb390d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6613c2f5b7e385b118fb390e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6613c2f5b7e385b118fb390f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6613c2f5b7e385b118fb3910'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6613c2f5b7e385b118fb3911'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6613c2f5b7e385b118fb3912'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6613c2f5b7e385b118fb3913'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6613c4ebb7e385b118fb3914'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6613c4ebb7e385b118fb3915'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6613c4ebb7e385b118fb3916'), 'companyName': 'pw skills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [25]:
random_data = [
    {'_id': '3', 'companyName': 'pw skills', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'pw skills', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'pw skills', 'Faculty': 'PQR'},
]

In [26]:
coll_create.insert_many(random_data)

In [27]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6613c10bb7e385b118fb3906'), 'name': 'imran', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('6613c280b7e385b118fb3907'), 'list_course': ['data science masters', 'web dev', 'java with DSA'], 'mentor': ['vishwa', 'ravi', 'arun']}
{'_id': ObjectId('6613c2f5b7e385b118fb3908'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6613c2f5b7e385b118fb3909'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6613c2f5b7e385b118fb390a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6613c2f5b7e385b118fb390b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6613c2f5b7e385b118fb390c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6613c2f5b7e385b118fb390d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6613c2f5b7e385b118fb390e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6613c2f5b7e385b118fb390f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6613c2f5b7e385b118fb3910'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6613c2f5b7e385b118fb3911'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6613c2f5b7e385b118fb3912'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6613c2f5b7e385b118fb3913'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6613c4ebb7e385b118fb3914'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6613c4ebb7e385b118fb3915'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6613c4ebb7e385b118fb3916'), 'companyName': 'pw skills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pw skills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pw skills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw skills', 'Faculty': 'PQR'}

In [28]:
coll_create.find_one()

{'_id': ObjectId('6613c10bb7e385b118fb3906'),
 'name': 'imran',
 'class': 'data science masters',
 'timing': 'flexi'}

In [31]:
for i in coll_create.find({'companyName':'pw skills'}):
    print(i)

{'_id': ObjectId('6613c4ebb7e385b118fb3914'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6613c4ebb7e385b118fb3915'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6613c4ebb7e385b118fb3916'), 'companyName': 'pw skills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pw skills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pw skills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw skills', 'Faculty': 'PQR'}

In [32]:
for i in coll_create.find({'_id':{'$gte':'4'}}):
    print(i)

{'_id': '4', 'companyName': 'pw skills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw skills', 'Faculty': 'PQR'}

In [33]:
coll_create.update_many({'companyName':'pw skills'},{"$set":{'companyName':'pw'}})

In [34]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6613c10bb7e385b118fb3906'), 'name': 'imran', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('6613c280b7e385b118fb3907'), 'list_course': ['data science masters', 'web dev', 'java with DSA'], 'mentor': ['vishwa', 'ravi', 'arun']}
{'_id': ObjectId('6613c2f5b7e385b118fb3908'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6613c2f5b7e385b118fb3909'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6613c2f5b7e385b118fb390a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6613c2f5b7e385b118fb390b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6613c2f5b7e385b118fb390c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6613c2f5b7e385b118fb390d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6613c2f5b7e385b118fb390e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6613c2f5b7e385b118fb390f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6613c2f5b7e385b118fb3910'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6613c2f5b7e385b118fb3911'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6613c2f5b7e385b118fb3912'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6613c2f5b7e385b118fb3913'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6613c4ebb7e385b118fb3914'), 'companyName': 'pw', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6613c4ebb7e385b118fb3915'), 'companyName': 'pw', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6613c4ebb7e385b118fb3916'), 'companyName': 'pw', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pw', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pw', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw', 'Faculty': 'PQR'}

In [35]:
coll_create.drop()

In [36]:
for i in coll_create.find():
    print(i)