In [ ]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
# data types
# numeric - integers , float , complex

num = 1  # 1,2, 3, -10 , 100 , -3532
decimal = 1.3 # 2.3, 4.0 , -10.2
iota = 2 +8j # root(-1)

In [ ]:
# boolean
is_learning = False

In [ ]:
print(type(num))

<class 'int'>

In [ ]:
# arithmatic operator - + - * / % //

num - 3

-2

In [ ]:
# string

name = "Sahil Garg"
print(type(name))

<class 'str'>

In [ ]:
"i am just righting a text to showcase you us of ' in strings "

In [30]:
lst = ['Sahil', 29, 'noida',5.8 ,[1,2,3]] # mutable
countries = ("india", "usa", "uk") # immutable

In [42]:
lst.extend(countries)

In [43]:
lst

['Sahil', 29, 'noida', 5.8, [1, 2, 3], 'india', 'usa', 'uk']

In [34]:
states = ['Delhi', 'new york', 'london']

In [36]:
country = dict.fromkeys(countries, states)
country

{'india': ['Delhi', 'new york', 'london'],
 'usa': ['Delhi', 'new york', 'london'],
 'uk': ['Delhi', 'new york', 'london']}

In [32]:
country['india'] = ["punjab", "haryana", "uP"]

In [33]:
country

{'india': ['punjab', 'haryana', 'uP'], 'usa': 'states', 'uk': 'states'}

In [ ]:
print(lst)

['Sahil', 29, 'noida', 5.8, [1, 2, 3]]

In [ ]:
# set , frozanset and dict

var_set = {8, 1,2,3,5,5,4,5,7}
print(var_set)

{1, 2, 3, 4, 5, 7, 8}

In [ ]:
fset = frozenset(var_set)

frozenset({1, 2, 3, 4, 5, 7, 8})

In [3]:
dic = {'india': ["punjab", "haryana", "uP"], 'key2': 'values'}

In [5]:
lst = dic.get('india')

In [8]:
lst.append("UP")

In [9]:
dic

{'india': ['punjab', 'haryana', 'chandigarh', 'UP'], 'key2': 'values'}

In [ ]:
# inbuilt method
print()
name = input("'Enter you name: ")
len(name)
type()

In [10]:
lst.append("from pw")

In [11]:
lst.reverse()

In [ ]:
lst.

In [ ]:
lst.insert(2, [2,4 , 6])

In [ ]:
var_set.

In [ ]:
dic.

In [23]:
n=[1,2,3,4]

a={'a':1,'b':2,'c':3}

In [28]:
a

{'a': 1, 'b': 2, 'c': 3}

In [29]:
type(a)

dict

In [27]:
x = dict.fromkeys((1,2,3,4), "a")
x

{1: 'a', 2: 'a', 3: 'a', 4: 'a'}

In [ ]:
lst

['from pw', [1, 2, 3], [2, 4, 6], 5.8, 'noida', 29, 'Sahil']

In [38]:
lst

['Sahil', 29, 'noida', 5.8, [1, 2, 3]]

In [39]:
lst[-1][1] # list.[start , stop , jump]

2

In [40]:
lst[0 : 4 : 2]

['Sahil', 'noida']

In [ ]:
# implicit conversion
1 + 2.3

3.3

In [ ]:
# explicit conversion
number = input("Enter a number: ")
number = int(number)
number/2

Enter a number: 3

1

In [ ]:
# flow statment

In [ ]:
# assignment operator = += -=

In [ ]:
a = 1
a

1

In [ ]:
a -= 1
a

-3

In [ ]:
# comparision operator- < > == <= >= !=

In [ ]:
# conditional statement- if elif else

number = int(input("Enter a number : "))

if number > 10:
  print("number is greater than 10")
elif number == 10:
  print("number is 10")
else:
  print('number is less than 10')

Enter a number : 10
number is 10

In [ ]:
# conditional statement- if elif else

number = int(input("Enter a number : "))

if number > 10:

  if number <100:
    print("number is less than 100 and greater then 10")
  elif number >1000:
    if number > 500:

  else:
    print("nnumber is greater than 100")

elif number == 10:
  print("number is 10")
  print("elif statment")

elif not number > 0 and number < 10:
  print("number is positive")
else:
  print('number is less than 10')

Enter a number : 80
number is less than 100 and greater then 10

In [ ]:
# logical operator  and or  not

In [ ]:
5 - 101

In [ ]:
# bitwise operator - 64 bit processor
1 2 4 8 16 32 64 128 256 512 1024 2048 4096 ......

In [ ]:
# looping statments - for while
[ 0 , 1, 2, 3, 4, 5, 6, 7, 8 ,9]
for i in range(10):
  print(f"number {i}   --- {i*2} loop")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-67-a8c963bc185b>, line 4)

In [ ]:
number = [ 0 , 1, 2, 3, 4, 5, 6, 7, 8 ,9]

sq_list = []

for i in number:
  j = i**2
  sq_list.append(j)

print(j)
sq_list

81

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
def sq_number(number):
  z = 2 *number
  print(z)
  return z


x = 2

x = sq_number(x)

In [ ]:
print(x)
print(z)

4

NameError: name 'z' is not defined

In [ ]:
x = 1
while x < 10:
  print(x)
  x += 1

1
2
3
4
5
6
7
8
9

In [ ]:
a = "abhc"
c = "a"
a= f"abc{c}"

In [ ]:
a

'abca'

In [ ]:
for i in range(5):
  for j in range(i):
    print(f"j loop {j}" , end = " ")
  print(f"i loop {i}")

i loop 0
j loop 0 i loop 1
j loop 0 j loop 1 i loop 2
j loop 0 j loop 1 j loop 2 i loop 3
j loop 0 j loop 1 j loop 2 j loop 3 i loop 4

In [56]:
# user defined functions

# void function
def greetings(name, des):
  print(f"Hello {name}, how are you  {des}?")

In [61]:
# non - void function
def multiplication(x, y):
  return x*y

In [65]:
2*4

8

In [73]:
def argment(name , message, *mul):
  print(name)
  print(message)
  for arg in mul:
    print(arg)

In [74]:
argment('sahil', 'message' ,1,2,3,4,5,6)

sahil
message
1
2
3
4
5
6

In [58]:
greet = greetings("Rahul", 'mr')

Hello Rahul, how are you  mr?

In [62]:
multiple = multiplication(3,5)

In [64]:
multiple

15

In [77]:
# create a calculator function which takes a 2 variables and operator
def calculator(x , y , operation):
  """
  docstring:

  use of this function

  x
  y
  operation

  return

  """

  result = 0

  if operation == '+':
    result = x+y
  elif operation == '-':
    result = x-y
  elif operation == '*':
    result = x*y
  else:
    result = x/y

  return result

In [79]:
calculator(4,2,'+')

6

In [ ]:
def add(x,y):
  return x + y
def sub(x,y):
  return x - y
def multiplication(x,y):
  return x*y
def div(x,y):
  return x/y

one = float(input("Enter a number: "))
choice = input("Enter the operator: ")
another = float(input("Enter another number: "))
if choice == '+':
  print(add(one,another))
elif choice == '-':
  print(sub(one, another))
elif choice == '*':
  print(multiplication(one,another))
elif choice == '/':
  print(div(one, another))

In [76]:
greetings('arjun', 'mr')

Hello arjun, how are you  mr?

In [80]:
# lambda - anonymous function

add = lambda x , y : x+y

In [81]:
add(3,4)

7

In [82]:
sq = lambda x: x**2

sq(9)

81

In [83]:
sq(10)

100

In [84]:
# create a lambda for temperature converter celius to farh

temp = lambda x: (x*9/5)+32

temp(37) # 98.6

98.6

In [97]:
# list comprehension

even_num = [temp(i) for i in range(40, 50) ]
even_num

[104.0, 105.8, 107.6, 109.4, 111.2, 113.0, 114.8, 116.6, 118.4, 120.2]

In [98]:
#Analogy: Collecting email addresses from a @example.com.
email_addresses = ['user1@example.com', 'user2@gmail.com', 'user3@example.com', 'user4@yahoo.com']

In [101]:
var = "abc"

In [99]:
lst = [email for email in email_addresses if email.endswith('@example.com')]
lst

['user1@example.com', 'user3@example.com']

In [102]:
var.capitalize()

'Abc'

In [105]:
## map , filter

number = [i for i in range(10)]

squared_num = [(lambda x: x**2)(i) for i in number]
print(squared_num)
squared_num_map = list(map(lambda x:x**2, number))
print(squared_num_map)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [107]:
even_num = list(filter(lambda x: x %2 == 0, number))

In [108]:
even_num

[0, 2, 4, 6, 8]

In [100]:
lst = [email for email in email_addresses if '@example.com' in email]
lst

['user1@example.com', 'user3@example.com']

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
temp(98)

208.4

In [109]:
# loops - for , while

for i in range(10):

even number
odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number

In [112]:
i = 0
while i < 10:
  if i %2 ==0:
    print("even number")
  else:
    print('odd number')
  i = i+1

even number
odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number

In [116]:
#matrix multiplication

matrix_A = [[1,2,3],[4,5,6],[7,8,9]]
matrix_B = [[9,8,7],[6,5,4],[3,2,1]]
result = [[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(matrix_A)):
  for j in range(len(matrix_B[0])):
    for k in range(len(matrix_B)):
      result[i][j] += matrix_A[i][k] * matrix_B[k][j]
      print(result[i][j])
for row in result:
  print(row)

9
21
30
8
18
24
7
15
18
36
66
84
32
57
69
28
48
54
63
111
138
56
96
114
49
81
90
[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

In [114]:
for i in range(len(matrix_A)):
  print(i)

0
1
2

In [115]:
for j in range(len(matrix_B[0])):
  print(j)

0
1
2