# 1. User-Define Function

User-defined functions in programming languages like Python allow you to create your own reusable blocks of code to perform specific tasks. Functions encapsulate logic, making the code modular, easier to understand, and maintainable.

#### Syntax

    def function_name(parameters):
        """docstring (optional)"""
        # Function body - code block
        # Perform operations
        return value  # (optional) - return statement
        
    def: Keyword used to define a function.
    function_name: Name of the function that you're defining. Choose a descriptive name following naming conventions.
    parameters: Input parameters (arguments) that the function can accept (optional).
    """docstring""" (optional): A docstring providing information about the function's purpose, usage, and parameters. It's a good practice to document functions for better understanding.
    Function body: Actual code block where the operations or tasks are performed.
    return: Statement used to return a value from the function (optional). It ends the execution of the function and can provide the result of the operation back to the caller.

In [ ]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [ ]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of google.colab._kernel.Kernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [ ]:
def greetings(name):
  print("Hello World", name)

In [ ]:
greetings('Ekta')

Hello World Ekta

In [ ]:
greetings('Rahul')

Hello World Rahul

In [ ]:
def add(a,b):
  print(a+b)

In [ ]:
add(2,4)

6

In [ ]:
add(4,5)

9

In [ ]:
add(3,5,6)

TypeError: add() takes 2 positional arguments but 3 were given

In [ ]:
# write a function to mutiple the pass arugment with number 5 and return the value

def mult(n):
  return 5 * n
r1 = mult(2)

In [ ]:
def mult2(n):
  print( 5 * n)
r2 = mult2(2)

10

In [ ]:
type(r1)

int

In [ ]:
type(r2)

NoneType

In [ ]:
def add(a,b,c,d):
  return a + b + c + d

r1 = add(2,3,4,5)
r1

14

In [ ]:
type(r1)

int

In [ ]:
def add(a,b,c,d):
  print( a + b + c + d)

r2 = add(2,3,4,5)
r2

14

In [ ]:
type(r2)

NoneType

    1.Required arguments
    2.Keyword arguments
    3.Default arguments
    4.Variable-length arguments

In [ ]:
add(2,2,2,2)

8

In [ ]:
def greet(name, message):
  print('Hello',name,',',message)

In [ ]:
greet('Ekta','How are you')

Hello Ekta , How are you

In [ ]:
greet('How are you', 'Ekta')

Hello How are you , Ekta

In [ ]:
greet(message = 'How are you', name = 'Ekta')

Hello Ekta , How are you

In [ ]:
def greet(name, message):
  print(f'Hello {name},{message}')

In [ ]:
greet('Ekta','Whats up')

Hello Ekta,Whats up

In [ ]:
def add(a,b,c,d):
  return a + b + c + d

add(2,3,4)

TypeError: add() missing 1 required positional argument: 'd'

In [ ]:
def add(a,b,c,d = 0):
  return a + b + c + d

add(2,3,4)

9

In [ ]:
add(3,4,5,6)

18

In [ ]:
def greet(name, message = "How are you"):
  print(f'Hello {name},{message}')
greet('Geet')

Hello Geet,How are you

In [ ]:
greet('Geet', 'See you ')

Hello Geet,See you

*args and *kwargs

### # *args in function definitions in python is used to pass a variable number of arguments to a function

*args is a special syntax in Python that allows a function to accept a variable number of positional arguments. When you're not sure how many arguments might be passed to your function, you can use *args as a parameter, and it will gather all the positional arguments into a tuple.

You can use any name instead of args, but the * before the parameter name is what indicates that it will collect all the positional arguments into a tuple.

In [ ]:
def add(*a):
  print(a)
  return sum(a)

In [ ]:
add(2,3,4,5,6,7,8,9)

(2, 3, 4, 5, 6, 7, 8, 9)

44

In [ ]:
def student_name(*name):
  for i in name:
    print(i)

In [ ]:
student_name('Amit','Sahil', 'Akshay', 'Preeti')

Amit
Sahil
Akshay
Preeti

### **kwargs in function definitions in python is used to pass a keyworded, variable-length argument list

***kwargs in Python allows a function to accept a variable number of keyword arguments, capturing them into a dictionary within the function. This syntax is particularly useful when you want to handle named arguments within a function where the number of arguments is not known in advance.
Just like with *args, you can use any name instead of kwargs, but the *** before the parameter name is what indicates that it will collect all the keyword arguments into a dictionary.

In [ ]:
def my_func(**kwargs):
  for i in kwargs.items():
    print(i)

In [ ]:
my_func(one = 'A',two = 'B',three = 'C')

('one', 'A')
('two', 'B')
('three', 'C')

farhen = (cel * 9/5) + 32

In [ ]:
# Write a function to convert celsius to fahrenheit
def farhentocel(t):
  """ t = temperture in farheneit
      returns the temperature in degrees Fahrenheit """
  c = (t * 9/5) + 32
  return c

In [ ]:
farhentocel(22.6)

72.68

In [ ]:
help(farhentocel)

Help on function farhentocel in module __main__:

farhentocel(t)
    t = temperture in farheneit
    returns the temperature in degrees Fahrenheit

In [ ]:
def square(number):
    """
    Function to find the square of a number.

    Parameters:
        number (int or float): The number whose square is to be calculated.

    Returns:
        int or float: The square of the input number.
    """
    return number ** 2

square(8)

64

In [ ]:
# power of any number

def power(base, exponent):
    """
    Function to calculate the power of any number.

    Parameters:
        base (int or float): The base number.
        exponent (int): The exponent to which the base is raised.

    Returns:
        int or float: The result of raising the base to the exponent.
    """
    return base ** exponent
power(8,3)

512

In [ ]:
l = [1,2,3,4,5]
sum(l)

15

In [ ]:
# sum of numbers in list

def sum_of_numbers(numbers):
    """
    Function to find the sum of numbers in a list.

    Parameters:
        numbers (list of int or float): List of numbers.

    Returns:
        int or float: The sum of numbers in the list.
    """
    total = 0
    for num in numbers:
        total += num
    return total
sum_of_numbers([4,2,3,4,5])

18

In [ ]:
def detail():
  name = input("Please enter your name: ")
  country = input('Enter your Country: ')
  return name, country

In [ ]:
detail() # no default input

Please enter your name: Ekta
Enter your Country: India

('Ekta', 'India')

In [ ]:
# find the sum of 2 or more numbers
def sum_up(*num):
  s = 0
  for i in num:
    s+=i
  return s
sum_up(1,2,3,4,5,7,6,5)

33

In [ ]:
def branch_and_subjects_in_graduation(*subject, branch):
  return f"My branch is {branch}. I'm studying following subjects {subject}"

In [ ]:
results = branch_and_subjects_in_graduation("Digital Image Processing", "Microprocessor", branch = 'Electronics')
print(results)

My branch is Electronics. I'm studying following subjects ('Digital Image Processing', 'Microprocessor')

In [ ]:
def branch_and_subjects_in_graduation(branch ,*subject):
  return f"My branch is {branch}. I'm studying following subjects {subject}"

In [ ]:
branch_and_subjects_in_graduation('Electronics', "Digital Image Processing", "Microprocessor")

"My branch is Electronics. I'm studying following subjects ('Digital Image Processing', 'Microprocessor')"

    def outer_function():
        # Outer function definition
        def inner_function():
            # Inner function definition
            pass
        # Outer function code
        inner_function()  # Calling the inner function

In [ ]:
def marks_in_sem(**kwargs):
  def total_marks(marks_list):
    return sum(marks_list)
  marks_list = []
  for subject, marks in kwargs.items():
    marks_list.append(marks)
    print(f"Score in {subject} is {marks}")
  return total_marks(marks_list)
marks_in_sem(Digital_Image_Processing = 78, Microprocessor= 79, Signals_and_systems=83)

Score in Digital_Image_Processing is 78
Score in Microprocessor is 79
Score in Signals_and_systems is 83

240

In [ ]:
## write a program to swap the variable through function
a = 5
b = 2

a,b = b,a
b

5

In [ ]:
a

2

In [ ]:
def swap(x, y):
    temp = x;
    x = y;
    y = temp;

# call the function
x = 2
y = 3
swap(x, y)
print(x)
print(y)

2
3

In [ ]:
# define a function palindrome
# get the list of all the inputs values, find if each word is a palindrome or not
# display the result in 2 different list
def pal(a):
    pal = []
    nonpal = []

    for i in a:
        i1 = i[::-1]
        if(i == i1):
            pal.append(i)
        else:
            nonpal.append(i)

    print("pal : ", pal)
    print("nonpal :",nonpal)
a = ["greet","wow","learning","madam","awesome"]
pal(a)

pal :  ['wow', 'madam']
nonpal : ['greet', 'learning', 'awesome']

In [ ]:
#check if a given number is positive, negative or zero
num = float(input("Enter a number: "))

def num_ver(num):
    if num >= 0:
       if num == 0:
           print("Zero")
       else:
           print("Positive number")
    else:
       print("Negative number")

num_ver(num)

Enter a number: -1
Negative number

In [ ]:
#### 2. Write a Python function to reverse a string use the while loop also?
def reverse(string):
    rstr1 = ''
    index = len(string)
    while index > 0:
        rstr1 += string[ index - 1 ]
        index = index - 1
    return rstr1
print(reverse('ASDFGHJKUYTREWQ654321123456'))

654321123456QWERTYUKJHGFDSA

In [ ]:
len(s) # 0-4

5

In [ ]:
s = '12345'

r = ''
l = len(s)
while l > 0:
  r += s[l-1]
  l =l- 1
print(r)

54321

### Lambda Function

A lambda function in Python is a small anonymous function defined using the lambda keyword. It's typically used for simple operations and is a way to create functions without a formal def declaration. Lambda functions are often used in scenarios where a short function is needed for a specific operation, especially in functional programming contexts or when a function is required as an argument to another function (map(), filter(), sorted(), etc.). However, they are typically not used for complex or lengthy operations, as their readability might decrease for such cases.

#### Lambda Function syntax:

    lambda arguments: expression
    
    
    lambda: Keyword used to indicate the start of a lambda function.
    arguments: Input parameters (arguments) that the lambda function can take. It can have zero or more arguments separated by commas, but it's typically used for simple functions with one or a few arguments.
    expression: The operation or computation to be performed using the arguments. This expression is evaluated and returned as the result of the lambda function.

In [ ]:
# Regular function to add two numbers
def add(x, y):
    return x + y
add_lambda = lambda x,y : x+y

In [ ]:
add(2,3)

5

In [ ]:
add_lambda(2,3)

5

In [ ]:
def fun(x,y):
    if(x>y):
        return x
    else:
        return y
print(fun(3,4))

4

In [ ]:
fun_lambda = lambda x,y : x if x > y else y
fun_lambda(8,12)

12

In [ ]:
fun_lambda(2,12)

12

In [ ]:
fun_lambda(17,33)

33

In [ ]:
####  a is an argument and a+10 is an expression which got evaluated and returned.

x = lambda a:a+10
print("sum = ",x(20))

sum =  30

In [ ]:
# cube using lambda function

g = lambda x: x*x*x
print(g(5))

125

In [ ]:
mult = lambda a,b,c,d,e : a*b*c*d*e
mult(2,3,4,5,6)

720

In [ ]:
add = lambda *args : sum(args)

In [ ]:
add(2,3,4,5,5)

19

## Map function

The map() function in Python is used to apply a specified function to each item in an iterable (like a list) and returns an iterator that yields the results. It's a way to efficiently perform operations on all elements of a sequence without using explicit loops.

### Map function syntax

    map(function, iterable)

    function: A function that will be applied to each item of the iterable.
    iterable: An iterable (e.g., list, tuple, etc.) whose elements will be passed to the function one by one.
    
The map() function is useful when you want to transform each element of an iterable using a specific function. It's often used in combination with lambda functions to perform quick operations on elements without writing explicit loops.

In [ ]:
def square(x):
    return x * x
square(6)

36

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
list(map(square,numbers ))

[1, 4, 9, 16, 25]

In [ ]:
map(square,numbers )

In [ ]:
str(numbers)

'[1, 2, 3, 4, 5]'

In [ ]:
r = []
for i in numbers:
  r.append(str(i))

In [ ]:
r

['1', '2', '3', '4', '5']

In [ ]:
tuple(map(str, numbers))

('1', '2', '3', '4', '5')

In [ ]:
words = ['apple', 'banana', 'orange', 'kiwi']
word_lengths = map(len, words)
print(list(word_lengths))

[5, 6, 6, 4]

#### Lambda with Map Syntax:

    map(lambda arguments: expression, iterable)

In [ ]:
# Map will return all the element of the status for which the condition is satisfied
n = [2,11,5,7]
list(map(lambda x : x >10, n))

[False, True, False, False]

In [ ]:
def fun1(list1):
    list2 = []
    for number in list1:
        list2.append(number**2)
    return list2
print(fun1([2,1,5,7]))

[4, 1, 25, 49]

In [ ]:
n = [2,1,5,7]
list(map(lambda x : x ** 2, n))

[4, 1, 25, 49]

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10,14]
list(map(lambda x : x % 3 == 0,numbers))

[False, False, True, False, False, True, False, False, True, False, False]

In [ ]:
#### 1.Program to triple each number of the list using map

l = [1,2,3,4,10,123,22]
r = []
for i in l:
  r.append(i**3)

In [ ]:
r

[1, 8, 27, 64, 1000, 1860867, 10648]

In [ ]:
list(map(lambda x : x ** 3, l))

[1, 8, 27, 64, 1000, 1860867, 10648]

In [ ]:
#### 2.Create lambda function calculate the remainder after dividing each number by 2?
numbers_list = [2, 6, 8, 10, 11, 4, 12, 7, 13, 17, 0, 3, 21]

mapped_list = list(map(lambda num: num % 2, numbers_list))

print(mapped_list)

[0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1]

In [ ]:
dict_a = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]
print(dict_a)

[{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]

In [ ]:
print(list(map(lambda x : x['name'], dict_a)))

print(list(map(lambda x : x['points']*10,  dict_a) ))

print(list(map(lambda x : x['name'] == "python", dict_a)))

['python', 'java']
[100, 80]
[True, False]

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
{key: value for key, value in map(lambda i: (i[0], i[1] *2), my_dict.items())}

{'a': 2, 'b': 4, 'c': 6}

#### 1.Write a Python function check the 3 is prime or not?

#### 2. Required arguments: (the function calculate returns the sum of two arguments a and b )

#### 3.Keyword arguments:(The function simple_interest(p, t, r) is called with the keyword arguments)

#### 4. Default arguments

###### 5. Write a map function to find if the given list = [15, 47, 122, 48, 54, 562, 80, 923, 173, 461]  is divisible by 16 output is boolean ?

###### 6. Use the map() function to calculate the cube of all numbers in the given list: lis1 = [2,4,5,6677,353,464]

##### Create a user defined function for calculating fibonacci series

In [ ]:

fib = lambda n: n if n <=1 else fib(n-1) + fib(n-2)
[fib(i) for i in range(10)]